<!-- app.component.html -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<style>
  .player-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .player-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .player-name {
    flex: 1;
  }

  .player-remove {
    cursor: pointer;
    color: #dc3545;
    font-size: 20px;
    margin-left: 10px;
  }

  .player-remove:hover {
    color: darkred;
  }
</style>

<div class="toolbar d-flex justify-content-between align-items-center px-3">
  <div class="d-flex align-items-center">
    <span class="ml-2 text-white font-weight-bold">Score App</span>
  </div>
  <button class="btn btn-danger" (click)="openResetModal()">Reset</button>
</div>

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-9 red-border">
      <div class="table-wrapper" #scoreTableWrapper>
       <table class="table table-striped">
  <thead class="table-header sticky-top bg-white">
    <tr
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="dropColumn($event)"
    >
      <th *ngFor="let p of Players" cdkDrag>
        <h5>{{ p }} <span><b>({{ sum(p) }})</b></span></h5>
      </th>
    </tr>
  </thead>
  <tbody *ngIf="Players && Players.length > 1" #scoreBody>
    <tr *ngFor="let s of Score.Scores[Players[0]]; let i = index">
      <td *ngFor="let p of Players">
        <h6>{{ Score.Scores[p][i] }}</h6>
      </td>
    </tr>
    <tr #latestScoreRow>
      <td *ngFor="let p of Players">
        <input class="form-control" maxlength="3" type="number" [attr.id]="p">
      </td>
    </tr>
  </tbody>
</table>


      </div>
      <div class="text-center my-2">
        <button class="btn btn-primary" (click)="AddScore(); scrollToBottom()">Add Score</button>
      </div>
      <div class="text-center">
        <a class="text-primary" style="cursor: pointer;" (click)="DeleteScore()"><u>Undo Score</u></a>
      </div>
    </div>
    <div class="col-md-3 red-border">
      <div class="p-3">
        <h4 *ngIf="totalpoints > 0">Total Points : {{totalpoints}}</h4>
        <h4>Games : {{Score.Games}}</h4>
        <h4>Next : {{Players[distributor]}}</h4>
        <hr>
        <h5>Players</h5>
        <div class="player-list">
          <div class="player-item" *ngFor="let p of Players">
            <span class="player-name">{{p}}</span>
            <span class="player-remove" (click)="RemovePlayer(p)">&times;</span>
          </div>
        </div>
        <div class="form-group mt-3">
          <input class="form-control" [(ngModel)]="newPlayer" placeholder="Name">
          <button class="btn btn-success btn-block my-2" (click)="AddPlayer()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Templates -->
<ng-template #totalPointsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Total Points</h4>
  </div>
  <div class="modal-body">
    <label>How many points are you playing for?</label>
    <input class="form-control" maxlength="3" type="number" #gamePoints>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="modal.close(gamePoints.value)">Save</button>
  </div>
</ng-template>

<ng-template #rejoinModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Rejoin</h4>
  </div>
  <div class="modal-body">
    <label>Who wants to Rejoin?</label>
    <div *ngFor="let p of rejoinPlayers" class="form-check">
      <input class="form-check-input" (change)="onChange(p, $event.target.checked)" type="checkbox" id="{{p}}">
      <label class="form-check-label" for="{{p}}">{{Players[p]}}</label>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modal.close()">
      {{ rejoinedPlayers.length > 0 ? 'Done' : 'No Rejoin' }}
    </button>
  </div>
</ng-template>

<ng-template #resetModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Reset Game</h5>
  </div>
  <div class="modal-body">
    <p>Please wait 5 seconds to confirm reset.</p>
  </div>
  <div class="modal-footer">
    <button [disabled]="resetCountdown > 0" class="btn btn-danger" (click)="confirmReset(modal)">
      Confirm {{ resetCountdown > 0 ? '(' + resetCountdown + ')' : '' }}
    </button>
  </div>
</ng-template>