<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" (click)="ClearStorage()"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Score App</span>
  <div class="spacer"></div>
  <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">



  </a>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 red-border">
      <br>
      <br>
      <table class="table">
        <thead>
          <th *ngFor="let p of Players">
            <h5>{{p}} <span><b>({{sum(p)}})</b></span></h5>
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let s of Score.Scores[this.Players[0]];let i = index ">
          <td *ngFor="let p of Players" >
            <h6>{{Score.Scores[p][i]}}</h6>
          </td>
          </tr>
          <tr>
            <td *ngFor="let p of Players">
              <input class="form-control" maxlength="3" type="number" [attr.id]="p">
            </td>
          </tr>
        </tbody>
      </table>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  <input class="form-control btn-primary my-2" (click)="AddScore()" type="button" value="Add Score">
  </div>
</div>
    </div>
    <div class="col-md-3 red-border">
      <br>
      <br>
      <h4> Players </h4>
      <b>
        <ul>
          <li *ngFor="let p of Players">{{p}}<span (click)="RemovePlayer(p)" class="close">x</span></li>
        </ul>
      </b>
      <div class="row">
        <input class="form-control" [(ngModel)]="newPlayer" type="text" placeholder="Name">
        <input class="form-control btn-primary my-2" (click)="AddPlayer()" type="button" value="Add">
      </div>

    </div>
  </div>
</div>